.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  border: 3px solid black;
  width: 500px;
  height: 500px;
}

.item-img {
  width: 350px;
}

.box.win{
  border: 3px solid green;
}

.box.lose{
  border: 3px solid red;
}